<div class="viewBox">
    <div class="firstColumn">
        <p>{{tytul_listy}}</p>
        <ul>
            @for (item of studenci; track $index) 
            {
                <div [class.selected]="$index===selected" (click)="select($index)">
                <li>{{item.imie}} {{item.nazwisko}}</li>
                <li (click)="toggleAge(item)">Wiek: @if(item.showWiek){{{item.wiek}}}</li>
                <li (click)="toggleGrade(item)">Ocena: @if(item.showOceny)
                    {
                    @for (grade of item.oceny; track $index)
                    {
                        <span [style]="{'color': grade <= 2 ? 'red' : 'black'}"> {{grade}}</span>
                    }
                }
                </li>
                </div>
                <br>
            }
        </ul>
    </div>
    <div class="secondColumn">
        <app-add-student  (saveStudent)="onSaveStudent($event)"></app-add-student>  
        @if (selected!==-1) {
        <app-edit-student   [student]="studenci[selected]" 
                            (editStudent)="onEditStudent($event)"  
                            (addStudentGrade)="addGrade($event)">
        </app-edit-student>  
        }
    </div>
</div>